body {
    background-color: antiquewhite;
    margin: 0;
}

#board {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.word {
    font-size: 8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: #513578;
    position: absolute;
}

