body {
    background-color: antiquewhite;
    margin: 0;
}

#board {
    width: 100vw;
    height: 100vh;
    /* border: 9px solid #513578; */
    overflow: hidden;
    position: relative;
}

.word {
    font-size: 8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: #513578;
    position: absolute;
}

#user-input{
    width: 20vw;
    height: 5vh;
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 6px solid #828248;
    background-color: #FFFE95;
    position: relative;
    top : 90vh;
    left: 40vw;
}

#score{
    font-size: 5vh;
    position: absolute;
    margin: 2vh;
    top: 2vh;x
    font-family: ;
}

#lives{
    font-size: 5vh;
    position: absolute;
    margin: 2vh;
    top: 2vh;
    left: 85vw;
    font-family: ;
}

#page-gameover {
    text-align: center;
    background-image:url(../images/gameOver.jpg) ;
    background-size: 100%;
    
}
